body {
    font-family: 'Open Sans', sans-serif;
    color: #333; /* Dark gray for readability */
}

h1 {
    color: #003366; /* Dark Blue for a professional look */
    font-family: 'Lora', serif;
}

a {
    color: #0077cc; /* Professional blue links */
}

.title {
    color: #004080; /* Darker professional blue */
}
